@import "../../index.css"; 

.cardResumen {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    float: left;
    margin: 10px 10px;
    padding: 50px;
    font-family: 'Montserrat';
    text-align: left;
    background-color: var(--colorBlanco1);
    border-radius: 38px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--colorAzul1);
  }
  
  .imagen{
    background-image: url('../../img/resumen.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .containerR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .containerR .cardResumen {
    flex: 1;
    margin-bottom: 10px;
    width: 100%;
  }
  
  @media (max-width: 768px) {    
    .containerR .cardResumen {
        width: 100%;
        flex-basis: unset;
    }
  }
  
.Textos{
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check{
    width: 15%;
    margin-top: 5%;
}

