.cardResumen {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    float: left;
    margin: 20px 10px;
    padding: 50px;
    font-family: 'Montserrat';
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 38px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: #2B3467;
  }
  
  .imagen{
    background-image: url('../../img/resumen.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .containerR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .containerR .cardResumen {
    flex: 1;
    margin-bottom: 10px;
    width: 100%;
  }
  
  @media (max-width: 768px) {    
    .containerR .cardResumen {
        width: 100%;
        flex-basis: unset;
    }
  }
  

.btnVolverCentrado{
    font-size: 18px;
    padding: 5px 70px;
    margin-top: 5px;
    margin-bottom: 18px;
    text-align: center;
}

.Textos{
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check{
    height: 70px ;
    width: 70px;
    margin-top: 15px;
}

.modalA{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-color: #2B3467;
  border-radius: 20px;
  border-width: 3px;
}

