.blanco > .lista-horizontal {
    display: flex;
    flex-direction: row;
}

.blanco > .bloque-datos {
    justify-content: center;
    align-items: center;
}

.blanco {
    background-color: white;
}