.contenedor-plan {
    width: 100%; 
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex; /* Utiliza Flexbox para el diseño */
    /*justify-content: center;*/
    margin-left: 2%;
  }

#tituloCajas {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}  