:root {
  --colorAzul1:     #2B3467;
  --colorAzul2:     #525A82;
  --colorAzul3:     #3E54AC;
  --colorBlanco1:   #EEEEEE;
  --colorBlanco2:   #FFFFFF;
  --colorGris1:     #D9D9D9;
  --colorNaranja1:  #F37B0C;
  --colorCeleste1:  #2BBCC6;
  --colorCeleste2:  #BFDCE5;
  }

  div{
    font-family: "Montserrat";
  }

  body {
    margin: 0;
    font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-style: normal;
    font-weight: 400px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--colorAzul1);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  .table {
    border-collapse: collapse;
    border-color: red;
    border-width: 1px;
  }
  
  .tr {
    border-color: red;
    border-width: 1px;
  }
  
  .td {
    border-color: red;
    border-width: 1px;
  }

  .btnGeneral{
    background: var(--colorBlanco1);
    color: var(--colorNaranja1);
    border: 2px solid var(--colorNaranja1);
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Montserrat';
    padding: 8px 25px;
    width: 220px;
  }
  
  .btnGeneral:hover{
    background-color: var(--colorNaranja1);
    color: var(--colorBlanco1);
    border: none;
  }
  
  .btnGeneral:active{
    background-color: var(--colorNaranja1);
    border: none;
    color: var(--colorBlanco1);
  }

  .btnGeneral2{
    background: var(--colorNaranja1);
    color: var(--colorBlanco1);
    border: 2px solid var(--colorBlanco1);
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Montserrat';
    padding: 8px 25px;
    width: 220px;
  }

  .btnGeneral2:hover{
    background-color: var(--colorBlanco1);
    color: var(--colorNaranja1);
    border: 2px solid var(--colorNaranja1);
  }
  
  .btnGeneral2:active{
    background-color: var(--colorBlanco1);
    border: 2px solid var(--colorNaranja1);
    color: var(--colorNaranja1);
  }

  .botones{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  .modalMensajes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-color: var(--colorAzul1);
    border-radius: 20px;
    border-width: 3px;
  }
  