.EstiloPresentacion {
    position: absolute;
    width: 1024px;
    height: 172px;
    left: 123px;
    top: 496px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
}

.EstiloImagenPrincipal {
    position: absolute;
    width: 1289px;
    height: 330px;
    left: 0px;
    top: 96px;
}

.back-imag{
    background-image: url("../img/brand.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 330px;
    left: 0px;
}

.EstiloTextoSOAT{
    position: absolute;
    width: 318px;
    height: 70px;
    left: 900px;
    top: 125px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;

    color: #2B3467;

}

.EstiloCuadroSOAT{
    width: 353px;
    height: 116px;
    left: 864px;
    top: 41px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 8px 12px black;
    opacity: .6;
}

.EstiloCuadroSeguro{
    width: 353px;
    height: 116.17px;
    left: 864px;
    top: 172.83px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 8px 12px black;
    opacity: .6;
}

.EstiloTextoSeguro{
    position: absolute;
    width: 255px;
    height: 52px;
    left: 913px;
    top: 266px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;

    color: #2B3467;
}

.EstiloBotonProductos{
    position: absolute;
    width: 262px;
    height: 46.58px;
    left: 524px;
    top: 713px;
    border-radius: 30px;
}

.EstiloBotonCotiza{
    position: absolute;
    width: 262px;
    height: 46.58px;
    left: 915px;
    top: 318px;
}

.EstiloBotonCompra{
    position: absolute;
    width: 262px;
    height: 46.58px;
    left: 915px;
    top: 180px;
}



