.DatosCarro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 175px;
}
.DatosCarro > .Form {
    width: 100%;
}
.DatosCarro > .Imagen {
    width: 50%;
}
.DatosCarro > .Subtitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #2B3467;
}

.DatosCarro > .SubsubTitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #2B3467;
}

.DatosCarro > .Resultado {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
/* identical to box height */
width: 100%;
border: 0;
color: #2B3467;
}

.DatosCarro > .CarroCotiza {
width: 100%;
}

.DatosCarro > .container {
    width: 70%;
    height: auto;
    box-sizing: border-box;
    float: left;
    margin: 0px 30px;
    padding: 147px;
    font-family: 'Montserrat';
    text-align: left;
    background-color: white;
    border-radius: 38px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: #2B3467;
}

